body {
    color: #5D5F63;
    padding: 0;
    margin: 0;

    /*    text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        text-rendering: optimizeLegibility;*/
    background-color: #F5F5F5;
    font-size: 12px;
}

a:link, a:visited {
    text-decoration: none;
    outline: 0;
    color: #1abc9c;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: #16a086;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro',Arial,sans-serif;
}

p {
    font-size: 14px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}